.about{
  width: 90%;
  text-align: center;
   display: flex;
   flex-direction: column;
  align-items: center;
  margin:  0 5%;
  
.router{

  width: 165px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #666;
   border-radius: 5px;
  
 h3{
   position: relative;
   top: 7px;
   background: #666;
   border-radius: 5px;
   padding: 5px;
   color: aliceblue;
   &:hover{
    color: antiquewhite;
    
  }
 }


}
}