<div class="about">
<h2>Fotos de perros y de gatos</h2>

<p>
  Las mascotas que encuentras en esta página cumplen el ejercicio de acompañar mi desarrollo de prácticas en angular, puesto que son seres invaluables. La mayoría de amigos y conocidos quieren tener o tienen una mascota en su casa, espero te diviertas escogiendo la mascota que más te guste.  
</p>

<div class="router">
   <h3 routerLink="fundations">Fundaciones</h3>
    <h3 routerLink="stores">Tiendas</h3>
  </div>

<router-outlet></router-outlet>
</div>