header{
  width: 99%;
   margin-top: 10px;
  
  nav{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: none;
  
  
   ul{ 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    margin-left: 5px;
    
    
    li{
      margin-left: 0px;
      margin-right: 15px;
      list-style: none;
    text-decoration: none;
    font-size: 1.3em;
    }
    li:nth-child(0n+1) {
      color: #666666;
      font-size: 1.35em;
      //margin-right: 50px;
    }
   li:nth-child(3n) {
    
    display: none;
    
  }
  li:nth-child(4n) {
   border: 1px solid #777777;
   border-radius: 12px;
  }

  
   }
  }
}

