
@mixin desktop {
  @media only screen and (min-width: 620px) {
    @content;
  }
}
.container{
  background: rgba(216, 243, 220, 0.2);
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 20vh 1fr auto; 

 @include desktop{
  display: grid;
  grid-template-rows: 20vh 1fr auto; 
  align-self: start;
  overflow: hidden;

 }
}



