<div class="contAll">

  <app-submenu></app-submenu>

  <div class="cont">


    <div class="contL" *ngFor="let cat of cats">


      <img src={{cat}} alt="">
      <div>
        <button class="btCat">Llevar</button>
      </div>


    </div>
  </div>


  <div class="btn">
    <button>
      <mat-icon aria-hidden="false" aria-label="search icon">first_page</mat-icon>
    </button>
    <button>
      <mat-icon aria-hidden="false" aria-label="search icon">last_page</mat-icon>
    </button>
  </div>

</div>