<div class="container">


  <p class="paragraph">
    <mat-icon aria-hidden="false" aria-label="search icon">pets</mat-icon>
    Las mascotas son el reflejo de las personas, son el reflejo de la supervivencia y de la adaptación
    de la naturaleza. Trasmiten, además de confianza y amor, actitudes parecidas a nosotros, según haya sido su
    crianza. Cuida a tus animales con amor y respeto.
    
   
    <mat-icon aria-hidden="false" aria-label="pets icon">pets</mat-icon>
  
  </p>

  <div class="pets">

    <div class="dog" [@animationDog] (@animationDog.start)="displayEvent('start')" (@animationDog.done)="displayEvent('done')">
      <div class="earsDogLeft"></div>
      <div class="earsDogRight"></div>
      <div class="eyeBrowRight" [@animationAyeBrowRight] (@animationAyeBrowRight.start)="displayEvent('start')" (@animationAyeBrowRight.done)="displayEvent('done')" ></div>
      <div class="eyeBrowLeft"  [@animationAyeBrowLeft] (@animationAyeBrowLeft.start)="displayEvent('start')" (@animationAyeBrowLeft.done)="displayEvent('done')" ></div>
      <div class="ayesDogRight">
        <div class="pupiRight">

          <div class="retinaRightDog"></div>
        </div>
      </div>
      <div class="ayesDogLeft">

        <div class="pupiLeft">

          <div class="retinaLeftDog"></div>

        </div>
      </div>

      <div class="beard">
        <div class="noseDog"></div>
        <div class="mouthDog"></div>
      </div>

    </div>


    <div class="cat" [@animationCat] (@animationCat.start)="displayEvent('start')" (@animationCat.done)="displayEvent('done')">
      <div class="earsCatLeft"></div>
      <div class="earsCatRight"></div>

      <div class="ayesCatLeft">
        <div class="pupiLeftCat">

          <div class="retinaLefCat"></div>
        </div>
      </div>

      <div class="ayesCatRight">
        <div class="pupiRightCat">
          <div class="retinaRightCat"></div>
        </div>
      </div>
      <div class="noseCat"></div>
      <div class="moustacheRight"></div>
      <div class="moustacheLeft"></div>
      <div class="mouthCat"></div>
    </div>

  </div>