.btn{
  margin-top: 10px;
  text-align: center;
  button{
    margin-left: 5px;
    border: none;
    color: #777777;
    background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
    border-radius: 5px;
    &:hover{
      background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
      background-color:#9ba892;
     }
  }
}