.form{
 width: 100%;
 h4{
   
  margin-left: 15px;
}
  form{
 display: flex;
 justify-content: flex-start;
 flex-wrap: wrap;
 
p{
  padding-left: 15px;
  

    strong{
    padding-left: 3px;
  }
  

}
}

}



